<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="">
        <h1>Welcome to Home Page</h1>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, delectus, quisquam enim ipsa consequatur inventore fugit 
        ipsam laborum minus, temporibus dolorum id doloremque? Consequuntur nobis consectetur, quod, quam facere veniam deleniti autem
         quaerat temporibus itaque quasi, reprehenderit soluta consequatur maiores rem quae repellendus adipisci placeat sint laboriosam
          nihil magni deserunt? Dolor nobis ex sapiente quo id ea voluptates nulla maxime animi laboriosam eveniet iste, suscipit saepe 
          ipsa ratione dolores tempore unde sunt tenetur fugiat vitae architecto vero alias. Rerum soluta, incidunt, voluptatem iure
         corrupti aliquam, dicta explicabo non provident et adipisci vitae officia velit sunt itaque pariatur labore numquam! Non.</p>
</body>
</html>